@model MeetingItem

<!--<head>
<style>
table {
   width: 100%;
 }

</style>
</head> -->

<br>
<h2><b>Insert new Meeting Note</b></h2>

<form method="post">

    <input type="hidden" asp-for="Meetingid" />

    
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deadline" class="control-label"></label>
                <input asp-for="Deadline" class="form-control" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignedTo" class="control-label"></label>
                <input asp-for="AssignedTo" class="form-control" />
                <span asp-validation-for="AssignedTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestedBy" class="control-label"></label>
                <input asp-for="RequestedBy" class="form-control" />
                <span asp-validation-for="RequestedBy" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ChangeRequested" /> @Html.DisplayNameFor(model => model.ChangeRequested)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="VisibleInMinutes" /> @Html.DisplayNameFor(model => model.VisibleInMinutes)
                </label>
            </div>
            
            <div class="form-group">
                <label asp-for="RiskLevel" class="control-label"></label>
                <input type="text" asp-for="RiskLevelid" />
              <!--  <select asp-for="RiskLevelid" class ="form-control" asp-items="ViewBag.RiskLevelid"></select> -->
            </div>
            <div class="form-group">
            <input type="submit"
                       value="Save"
                       class="btn btn-primary"
                       asp-controller="MeetingItems"
                       asp-action="InsertSave"
                       asp-route-meetingid="@Model.Meetingid" />
            </div>

            <div class="form-group">
            <input type="submit"
                       value="Cancel"
                       class="btn btn-primary"
                       asp-controller="MeetingItems"
                       asp-action="CancelEntry"
                       asp-route-meetingid="@Model.Meetingid" />
            </div>
            

    
    
</form>

