/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: #EAD3CB;
    font-size: 20px;
}

.customTitle {
    color: #EAD3CB;
    font-weight: 700;
}

.login{

}

.customNav {
    background: #2B4F60;
    border-radius: 16px;
    font-size: 18px;
    font-weight: 500;
    margin: 6px;
}

.customBtn {
    font-weight: 500;
    color: #EAD3CB;
    font-size: 18px;
}

.nav-item :hover {
    background: #EAD3CB;
    border-radius: 16px;
    color: #2B4F60;
}

/* Provide sufficient contrast against white background */
a {
    color: #EAD3CB;
}

.btn-primary {
    color: #BDC7C9;
    background-color: #845460;
    border-color: #845460;
}

.btn-primary :hover{
    color:inherit;
    text-decoration:inherit;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #BDC7C9;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.login-container {
    background-color: #2B4F60;
    border-radius: 16px;
    padding: 20px;
    color: #EAD3CB;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
 
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: Helvetica, Helvetica, sans-serif;
    background-color: #EAD3CB;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
