@model MeetingMinutes.Models.MeetingViewModel


@{
    ViewData["Title"] = "Create";
}

<h1>Schedule a new Meeting</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeetingDate" class="control-label"></label>
                <input asp-for="MeetingDate" class="form-control" />
                <span asp-validation-for="MeetingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeetingParticipants" class="control-label"></label>
                @for (int i=0; i<Model.MeetingParticipants.Count(); i++)
                {
                    <br />
                    @Html.EditorFor(m => Model.MeetingParticipants[i].IsChecked)
                    @Html.DisplayFor(m => Model.MeetingParticipants[i].FullName)
                    @Html.HiddenFor(m => Model.MeetingParticipants[i].FullName)
                    @Html.HiddenFor(m => Model.MeetingParticipants[i].Id)
                }
                <span asp-validation-for="ExternalParticipants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExternalParticipants" class="control-label"></label>
                <input asp-for="ExternalParticipants" class="form-control" />
                <span asp-validation-for="ExternalParticipants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn customBtnPurple" />
            </div>
        </form>
    </div>
</div>






<div class="linkHover" > 
    <a class="anchorTags" asp-action="Upcoming">Back to Upcoming List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
