@model MeetingMinutes.Models.MeetingViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Meeting</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MeetingID" />
            <div class="form-group">
                <label asp-for="MeetingDate" class="control-label"></label>
                <input asp-for="MeetingDate" class="form-control" />
                <span asp-validation-for="MeetingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items="Html.GetEnumSelectList(typeof (Status))"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExternalParticipants" class="control-label"></label>
                <input asp-for="ExternalParticipants" class="form-control" />
                <span asp-validation-for="ExternalParticipants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeetingParticipants" class="control-label"></label>
                @for (int i=0; i<Model.MeetingParticipants.Count(); i++)
                {
                    <br />
                    @Html.EditorFor(m => Model.MeetingParticipants[i].IsChecked)
                    @Html.DisplayFor(m => Model.MeetingParticipants[i].FullName)
                    @Html.HiddenFor(m => Model.MeetingParticipants[i].FullName)
                    @Html.HiddenFor(m => Model.MeetingParticipants[i].Id)
                }
                <span asp-validation-for="ExternalParticipants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href='javascript:history.go(-1)'>Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
