@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Meeting Notes Web App</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome From the most awesome developers of the program</h2>
        <p>
            Let us show you how a real Meeting app looks like..
        </p>
    </div>
    
</div>