@{
    ViewData["Title"] = "Home Page";
}

<div>
    <img src="https://img.icons8.com/external-justicon-lineal-color-justicon/500/000000/external-online-meeting-back-to-school-justicon-lineal-color-justicon.png"/>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome From the most awesome developers of the program</h2>
        <p>
            Let us show you how a real Meeting app looks like..
        </p>
    </div>
    
</div>